/* this is the minimal drIT's styling sheet */

/* blue: 4285f4; */
{
 --di-primary-color: #400244; /* hue=296 rgb(64,2,68) */
 --di-secondary-color: HSL(168,100%,36%); /* #00b893 */
 --di-tertiary-color: rgb(245,130,131); /* hue=359 #f58283  */
}
img { margin: auto; }

body {
 background-color: HSL(168,100%,36%);
 background-image: linear-gradient(to top right,
rgba(0,220,140,0.98),
rgba(64,2,68,0.5),
rgba(2,1,3,0.2)
), URL(background.svg);
 background-position: top;
 background-repeat: no-repeat;
 background-size: 100% 100%;
 background-attachment: fixed;
 min-height: 100vh;
 /* transition: [transition-property] [transition-duration] [transition-timing-function] [transition-delay]; */
 transition: background-image 10s linear;
}
body:hover {
 background-color: #300133;
 transition: background-color 2s ease-in;
 transition-delay 1s;
}
.dbug { border: 3px dotted red; }

body>div {
  /* font-size: 14px; */
  max-width: 720px;
  min-height: 40vh;
  margin: auto;
  margin-top: 15vh;
  padding: 1.4rem;

  background-color: white;
  opacity: 0.94;
  box-shadow: 5px 5px 15px 2px rgba(4,3,5,0.9);
  box-shadow: 5px 5px 15px 2px rgba(245,130,131,0.9);/* pink glow */
  /* h-offset v-offset blur spread color */
  box-shadow: 1.2rem 0 0 0 HSL(168,100%,36%); /* cyan glow */
  border-radius: 0.5rem;
}

.shadow {
 box-shadow: 5px 5px 15px 2px rgba(4,3,5,0.9);
 overflow: visible;
}

.rounded {
  border-radius: 0.5rem;
}
